body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* navbar classes*/
.navbar-inverse {
    background-color: #c70d3a;
    border-color: #c70d3a;
}

.navbar-inverse .navbar-nav > li > a {
        color: white;
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
}

.navbar-inverse .navbar-brand {
        color: white;
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        font-weight: bold;
}

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
    color: yellow;
    background-color: transparent;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: yellow;
    background-color: transparent;
}


/* book index page css*/
.col-lg-3 {
    border: solid;
    border-color: #ed5107;
    margin-bottom: 30px;
    padding-left: 0px;
    height:200px;
    /*width:300px;*/
}

body{
    margin-top:30px;
}

/* form control css*/

.form-control:focus {
    border-color: #293462;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

div.jumbotron {
    background-image: url(https://cdn.pixabay.com/photo/2014/10/12/07/50/books-485479_960_720.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    /*color: white;
    text-shadow: black 0.3em 0.3em 0.3em;*/
}

/*font-family: 'Montserrat', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Source Sans Pro', sans-serif;*/

.BookDetailsActions{
    justify-content:center;
}